body {
    margin: 0;
    background: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Encabezado */
header {
    background: #997a50;
    padding: 30px 0;
}

.logo {
    width: 140px;
}

/* Título */
.titulo {
    font-size: 36px;
    font-weight: bold;
    margin-top: 25px;
}

/* Botones */
.botones {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.btn {
    display: block;
    background: #b0aeae;
    padding: 15px;
    margin: 12px auto;
    border-radius: 15px;
    width: 80%;
    max-width: 350px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/* Imagen del menú */
.menu-img {
    width: 90%;
    max-width: 900px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Ocultar secciones */
.oculto {
    display: none;
}

/* Datos transferencia */
.transferencia {
    margin-top: 25px;
    padding: 20px;
}

.transferencia h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.dato {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
    margin: 12px auto;
    padding: 12px;
    background: #e2e2e2;
    border-radius: 10px;
}

.dato button {
    background: #997a50;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Footer */
footer {
    margin-top: 40px;
    background: #997a50;
    padding: 20px;
    color: white;
    font-weight: bold;
}



.footer a {
  color: white;
  font-weight: 600;
}

