/* GENERAL */
body {
  margin: 0;
  background: #e3e3e3;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* BANNER */
.banner {
  background: #997a50;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* TÍTULO */
.titulo {
  color: white;
  margin-top: 10px;
  font-size: 36px;
  font-weight: 700;
}

/* BOTONES PEQUEÑOS (Instagram, Facebook) */
.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background: #e2e2e2;
  padding: 15px 35px;
  color: #333;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

/* BOTONES GRANDES */
.btn-full-container {
  margin: 20px auto;
  width: 80%;
}

.btn-full {
  width: 100%;
  padding: 15px;
  background: #e2e2e2;
  color: #333;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* POPUP DEL MENÚ */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-img {
  width: 85%;
  max-width: 380px;
  border-radius: 10px;
}

.cerrar {
  margin-top: 15px;
  padding: 10px 20px;
  background: #e2e2e2;
  color: #333;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* PANEL DESPLEGABLE (DATOS DE TRANSFERENCIA) */
.toggle-box {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  background: #e2e2e2;
  border-radius: 15px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.toggle-box p {
  text-align: left;
  margin: 12px 0;
  color: #333;
}

/* BOTÓN COPIAR */
.copy-btn {
  margin: 10px 0 15px;
  padding: 10px 20px;
  border: none;
  background: #997a50;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  padding: 20px;
  background: #997a50;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
}
