/* Estilos generales */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  text-align: center;
}

/* Encabezado */
header {
  background-color: #997a50;
  padding: 30px 0;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background: white;
  padding: 5px;
}

/* Título */
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 20px;
}

/* Botones */
.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 0;
}

.btn {
  background-color: #e2e2e2;
  color: black;
  text-decoration: none;
  border: none;
  padding: 15px 40px;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: transform 0.2s, background 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #d4d4d4;
  transform: scale(1.05);
}

/* Botón del menú */
.boton-menu {
  display: flex;
  justify-content: center;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

#closePopup {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* Adaptable a celular */
@media (max-width: 600px) {
  .btn {
    width: 80%;
    padding: 15px;
  }
}
