/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  background: #fff;
  overflow-x: hidden;
}

/* BANNER SUPERIOR */
.banner {
  width: 100%;
  background: #997a50;
  padding: 35px 0;
  text-align: center;
}

.logo {
  width: 85px;
  height: auto;
  border-radius: 50%;
}

/* TÍTULO */
.titulo {
  margin-top: 25px;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 700;
}

/* CONTENEDOR DE BOTONES SUPERIORES */
.btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* BOTÓN NORMAL */
.btn {
  background: #c3c3c3;
  padding: 14px 25px;
  border-radius: 18px;
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.btn:hover {
  background: #b6b6b6;
}

/* BOTÓN FULL WIDTH */
.btn-full-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-full {
  width: 90%;
  max-width: 500px;
  background: #c3c3c3;
  border: none;
  padding: 14px;
  border-radius: 18px;
  font-size: 0.95rem;
  cursor: pointer;
}

.btn-full:hover {
  background: #b6b6b6;
}

/* POPUP MENÚ */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.menu-img {
  width: 95%;
  max-width: 450px;
  border-radius: 10px;
}

.cerrar {
  margin-top: 15px;
  padding: 10px 18px;
  background: #c3c3c3;
  border-radius: 12px;
  border: none;
  font-size: 0.9rem;
}

/* PANEL DE TRANSFERENCIA */
.toggle-box {
  width: 90%;
  max-width: 500px;
  background: #f1f1f1;
  margin: 10px auto 0;
  padding: 15px;
  border-radius: 15px;
  font-size: 0.9rem;
  display: none;
}

.copy-btn {
  width: 100%;
  background: #997a50;
  padding: 10px;
  border-radius: 12px;
  border: none;
  margin-top: 10px;
  color: white;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  background: #997a50;
  text-align: center;
  padding: 25px;
  color: white;
  font-size: 0.85rem;
}
