/* GENERAL */
body {
  margin: 0;
  background: #e3e3e3;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* BANNER */
.banner {
  background: #a3a3a3;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* TÍTULO */
.titulo {
  color: white;
  margin-top: 10px;
  font-size: 36px;
  font-weight: 700;
}

/* BOTONES */
.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background: #a3a3a3;
  padding: 15px 35px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}

.btn-full-container {
  margin: 20px auto;
  width: 80%;
}

.btn-full {
  width: 100%;
  padding: 15px;
  background: #a3a3a3;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

/* POPUP DEL MENÚ */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-img {
  width: 85%;
  max-width: 380px;
  border-radius: 10px;
}

.cerrar {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* PANEL DESPLEGABLE */
.toggle-box {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  
  background: #dcdcdc;
  border-radius: 15px;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.toggle-box p {
  text-align: left;
  margin: 12px 0;
}

/* BOTÓN COPIAR */
.copy-btn {
  margin: 10px 0 15px;
  padding: 10px 20px;
  border: none;
  background: #8f8f8f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  padding: 20px;
  background: #b5b5b5;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
}
