/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
  color: #222;
  text-align: center;
}

/* BANNER */
.banner {
  background: #997a50;
  padding: 25px 0;
}

.logo {
  width: 95px;
  border-radius: 50%;
}

/* TÍTULO */
.titulo {
  margin-top: 30px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
}

/* BOTONES SUPERIORES */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 25px 0;
}

.btn {
  background: #e2e2e2;
  padding: 12px 25px;
  border-radius: 12px;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  transition: 0.25s;
}

.btn:hover {
  background: #cfcfcf;
}

/* BOTÓN COMPLETO */
.btn-full-container {
  margin: 12px auto;
}

.btn-full {
  width: 80%;
  max-width: 450px;
  padding: 15px;
  background: #e2e2e2;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s;
}

.btn-full:hover {
  background: #cfcfcf;
}

/* POPUP MENÚ */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  max-width: 90%;
}

.menu-img {
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

.cerrar {
  margin-top: 10px;
  padding: 10px 20px;
  background: #997a50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* DATOS TRANSFERENCIA */
.datos-box {
  background: #f1f1f1;
  width: 90%;
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
}

.dato {
  margin-bottom: 15px;
  font-size: 1rem;
}

.copy {
  padding: 6px 10px;
  margin-left: 10px;
  background: #997a50;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #997a50;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.footer a {
  color: white;
  font-weight: 600;
}
