/* COLORES */
:root {
    --cafe: #997a50;
    --gris: #e2e2e2;
}

/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    text-align: center;
}

/* BANNER */
.banner {
    background: var(--cafe);
    padding: 20px 0;
}
.banner img {
    width: 90px;
}

/* TITULO */
.title {
    font-size: 2rem;
    margin-top: 25px;
    font-weight: 800;
}

/* CONTENEDOR DE BOTONES */
.btn-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    display: grid;
    gap: 12px;
}

/* BOTONES */
.gray-btn {
    background: var(--gris);
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

/* MEDIDA DE BOTONES */
.gray-btn.full {
    grid-column: span 2;
}

/* Para celulares */
@media (max-width: 480px) {
    .gray-btn {
        font-size: 15px;
        padding: 11px;
    }
}

/* Para computadoras */
@media (min-width: 768px) {
    .gray-btn {
        padding: 15px;
        font-size: 18px;
    }
    .btn-container {
        max-width: 380px;
    }
}

/* CAJA DE DATOS */
.datos-box {
    width: 90%;
    max-width: 500px;
    background: var(--gris);
    margin: 15px auto;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    font-size: 15px;
}

/* FOOTER */
.footer {
    background: var(--cafe);
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}
.footer p {
    margin: 0;
    font-size: 14px;
}
