/* General */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  text-align: center;
}

/* Header */
header {
  background-color: #997a50;
  padding: 30px 0;
}

.logo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  background: white;
  padding: 5px;
}

/* Título */
h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-top: 20px;
}

/* Botones */
.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 25px 0;
}

.btn {
  background-color: #e2e2e2;
  padding: 15px 35px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  transition: 0.25s ease;
}

.btn:hover {
  transform: scale(1.06);
  background-color: #d5d5d5;
}

/* Botón menú */
.boton-menu {
  margin-bottom: 25px;
}

/* Popup menú */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

#closePopup {
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 45px;
  color: white;
  cursor: pointer;
}

/* PANEL TRANSFERENCIA */
.panel-transferencia {
  margin-top: 40px;
  animation: fadeIn 0.7s ease;
}

.panel-transferencia h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.transfer-box {
  background-color: #e2e2e2;
  width: 85%;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
  animation: slideUp 0.7s ease;
}

.transfer-box p {
  margin: 10px 0;
  font-size: 1rem;
}

.copiado {
  display: none;
  margin-top: 12px;
  font-size: 1rem;
  color: green;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #997a50;
  color: white;
  padding: 15px 10px;
  margin-top: 50px;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Responsive */
@media (max-width: 600px) {
  .btn {
    width: 80%;
  }
}

