/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f6f7fb;
  color: #222;
  scroll-behavior: smooth;
}

/* Header / Top Banner */
header {
  background: #997a50;
  padding: 40px 0;
  text-align: center;
}

header img {
  width: 95px;
  height: auto;
  border-radius: 50%;
}

/* Sección principal */
main {
  padding: 40px 20px;
  text-align: center;
}

/* Título */
h2 {
  font-size: 2.3rem;
  margin-bottom: 35px;
  font-weight: 700;
  color: #997a50;
}

/* Botones sociales */
.social-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.social-btn {
  background: #e2e2e2;
  padding: 14px 26px;
  border-radius: 20px;
  font-size: 1.1rem;
  transition: 0.25s ease;
  cursor: pointer;
}

.social-btn:hover {
  background: #d1d1d1;
  transform: translateY(-3px);
}

/* Links de menú */
.menu-link {
  display: block;
  margin: 25px auto;
  background: #fff;
  width: 75%;
  max-width: 850px;
  padding: 18px;
  font-size: 1.2rem;
  border-radius: 18px;
  background: #e2e2e2;
  transition: 0.25s ease;
}

.menu-link:hover {
  background: #d1d1d1;
  transform: translateY(-3px);
}

/* Footer */
footer {
  background: #997a50;
  padding: 28px 20px;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin-top: 60px;
}

footer a {
  color: #e6e6ff;
  font-weight: 600;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


